@keyframes entrance-animation {
    from {
        opacity: 0;
        transform: translateY(5px);

    }
    to{ 
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes entrace-animation-horizontal {
    0% {
        scale: 50%;
        opacity: 0;
        transform: translateX(-15px);

    }

    100%{
        scale: 100%;
        transform: translateX(0);
    }
}