//Cores dos botões
[data-change-color="vermelho"] {
  filter: hue-rotate(250deg) brightness(70%) contrast(1.5);
  
}

[data-change-color="pink"] {
  filter: hue-rotate(230deg) brightness(70%) contrast(1.5);
}

[data-change-color="vinho"] {
  filter: hue-rotate(220deg) brightness(55%) contrast(1.4);
}

[data-change-color="royal"] {
  filter: hue-rotate(100deg) brightness(70%) contrast(1.5);
}
[data-change-color="amarelo"] {
  filter: hue-rotate(310deg) brightness(110%);
}
[data-change-color="roxo"] {
  filter: hue-rotate(160deg) brightness(75%) contrast(1.2);
}

[data-change-color="lilas"] {
  filter: hue-rotate(145deg) brightness(100%) contrast(0.8);
}

[data-change-color="preto"] {
  filter: brightness(50%) contrast(1.5) saturate(0);
}
[data-change-color="branco"] {
  filter: brightness(150%) contrast(2) grayscale(100%);
}
[data-change-color="cinza"] {
  filter: brightness(70%) contrast(2) grayscale(100%);
}
[data-change-color="musgo"] {
  filter: hue-rotate(325deg) brightness(70%) contrast(1.5);
}
[data-change-color="marinho"] {
  filter: hue-rotate(115deg) brightness(60%) contrast(2.2) saturate(30%);
}

//Cores dos botões
.btn-color-vermelho {

  &::before {
    content: "";
    min-width: 20px;
    min-height: 20px;
    background-color: #d32d2d;
    border-radius: 30px;
    animation: entrace-animation-horizontal 1s;
  }
}

.btn-color-royal {
  &::before {
    content: "";
    min-width: 20px;
    min-height: 20px;
    background-color: #292cd8;
    border-radius: 30px;
    animation-name: entrace-animation-horizontal;
    animation-duration: 1s;
  }
}

.btn-color-amarelo {
  &::before {
    content: "";
    min-width: 20px;
    min-height: 20px;
    background-color: #e7d427;
    border-radius: 30px;
    animation-name: entrace-animation-horizontal;
    animation-duration: 1s;
  }
}

.btn-color-roxo {
  &::before {
    content: "";
    min-width: 20px;
    min-height: 20px;
    background-color: #412f85;
    border-radius: 30px;
    animation-name: entrace-animation-horizontal;
    animation-duration: 1s;
  }
}
.btn-color-preto {
  &::before {
    content: "";
    min-width: 20px;
    min-height: 20px;
    background-color: #0e0e0e;
    border-radius: 30px;
    animation-name: entrace-animation-horizontal;
    animation-duration: 1s;
  }
}

.btn-color-lilas {
  &::before {
    content: "";
    min-width: 20px;
    min-height: 20px;
    background-color: #7753a0;
    border-radius: 30px;
    animation-name: entrace-animation-horizontal;
    animation-duration: 1s;
  }
}

.btn-color-vinho {
  &::before {
    content: "";
    min-width: 20px;
    min-height: 20px;
    background-color: #551626;
    border-radius: 30px;
    animation-name: entrace-animation-horizontal;
    animation-duration: 1s;
  }
}
