.container-mockup{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation-name: entrance-animation;
    animation-duration: 1.5s;

    .img-mockup{
        position: absolute;
        width: 70%;
        border-radius: 20px;
    }
}