
.panels{
    display: flex;
    gap: 20px;
    width: 100%;
    min-height: 50%;
    height: 60%;

    .container-details-product{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: $tirth-color;
        padding: 30px;
        border-radius: 30px;
        width: 50%;

        .title-product{
            color: $sixth-color;
        }

        .measures-prodcut{
            color: $fourt-color;
            font-family: $regular-font;
        }
        .info-producut{
            color: $glass-color;
            font-family: $regular-font;
        }
        
        .btn-open-mockup{
            font-size: 1em;
            color: $fourt-color;
            border: solid $fourt-color 3px;
            background-color: transparent;
            padding: 10px;
            width: 40%;
            border-radius: 30px;
        }
    }

    // container dos botões de edição
    .control-product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        align-items: center;
        background-color: $tirth-color;
        padding: 30px;
        border-radius: 30px;
        width: 50%;

        //container botões das partes
        .btn-party-edit{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 10px;
            justify-content: center;

            //botões das partes
            .btn-party{
                color: $fourt-color;
                border: solid $fourt-color 3px;
                background-color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                padding: 5px 15px;
                font-weight: 600;
                text-transform: uppercase;
                font-size: .7rem;
                border-radius: 30px;
                cursor: pointer;
                transition: .3s;
                box-sizing: border-box;
                animation-name: entrance-animation;
                animation-duration: 1.5s;
                
                &:hover {
                    box-shadow: 0 0 20px $glass-color;
                    transition: .3s;
                }
            }
        }
        //container botões de cores
        .container-btn-colors{
            overflow-y: scroll;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            padding: 30px;
            gap: 10px;
            position: relative;

            // botões de cores
            .btn-color{
                display: flex;
                justify-content: start;
                align-items: center;
                width: 45%;
                background-color: $second-color;
                color: $sixth-color;
                gap: 10px;
                padding: 5px 15px;
                font-weight: 600;
                text-transform: uppercase;
                font-size: calc(.5rem + 0.2vw);
                border-radius: 30px;
                cursor: pointer;
                transition: .3s;
                box-sizing: border-box;
                animation-name: entrance-animation;
                animation-duration: 1.5s;

                &:hover {
                    transition: .3s;
                    background-color: $primary-color;
                }
            }
        }
    }
}