@import'variable';

.panels{
    display: flex;
    gap: 20px;
    width: 100%;
    min-height: 50%;
    height: 60%;

    .container-details-product{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: $tirth-color;
        padding: 30px;
        border-radius: 30px;
        width: 50%;

        .title-product{
            color: $sixth-color;
        }

        .measures-prodcut{
            color: $fourt-color;
            font-family: $regular-font;
        }
        .info-producut{
            color: $glass-color;
            font-family: $regular-font;
        }
        
        .btn-open-mockup{
            font-size: 1em;
            color: $fourt-color;
            border: solid $fourt-color 3px;
            background-color: transparent;
            padding: 10px;
            width: 40%;
            border-radius: 30px;
        }
    }

    // container dos botões de edição
    .control-product{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: $tirth-color;
        padding: 30px;
        border-radius: 30px;
        width: 50%;

        //container botões das partes
        .btn-party-edit{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;
            width: 100%;

            //botões das partes
            .btn-party{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 1em;
                color: $fourt-color;
                border: solid $fourt-color 3px;
                background-color: transparent;
                padding: 5px 15px;
                width: 27%;
                border-radius: 30px;
                cursor: pointer;
                
                    &:hover {
                        box-shadow: 0 0 20px $glass-color;
                    }
            }
        }
        //container botões de cores
        .container-btn-colors{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-between;
            
            // botões de cores
            .btn-color{
                display: flex;
                justify-content: center;
                width: 30%;
                align-items: center;
                padding: 5px 15px;
                border-radius: 30px;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 0 20px $glass-color;
                }
            }
        }
    }
}