@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Passion+One:wght@400;700;900&display=swap');


//Paleta de cores dark
$primary-color:#111D40;
$second-color:#0B1726;
$tirth-color:#222d38;
$fourt-color:#13F2F2;
$fifth-color:#038C8C;
$sixth-color:#F2F2F2;
$glass-color: #13f2f23b;

//fontes
$strong-font: "Passion One", sans-serif;
$regular-font: "Lato", sans-serif;